<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>IoFood.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C854EB061CA7035B00C7080F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C854EB1C1CA7035B00C7080F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C854EB271CA7035B00C7080F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
